<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf=8">
        <title>projects page</title>
    </head>
    <body>
        {{> header}}
        <p>These are my current projects. Cool that you checked them out.</p>
        {{> footer}}
    </body>
</html>